body {
  background-image: url(mario-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}
#board {
  background-image: url(soil.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 36vw;
  height: 36vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 2px solid white;
}
.mole {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mole2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
